name: Build and publish on Docker Hub

on:
  push:
    # Publish master as Docker 'edge' image
    branches:
      - master

    # Publish 'v1.2.3' tags as same tag and latest release as 'latest'
    tags:
      - v*

jobs:
  build_and_publish:
    name: Build and publish on Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and publish master as 'edge'
        if: github.ref_name == 'master'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ github.repository }}:edge
          platforms: linux/amd64,linux/arm64

      - name: Build and publish tagged version as 'version' and 'latest'
        if: github.ref_type == 'tag'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ github.repository }}:latest
            ${{ github.repository }}:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64
