name: Manually build and publish on Docker Hub

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to publish on Docker Hub'
        required: true
        type: string

jobs:
  build_and_publish:
    name: Manually build and publish on Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and publish the selected tag
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          repository: wirepas/${{ github.event.repository.name }}
          tags: ${{ inputs.tag }}
          push: true
